.blog {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .blog-logo {
    margin: 20px 0 0;
    text-align: center;

    img {
      -webkit-user-drag: none;
      border-radius: 50%;
    }
  }
}
