.mobile-nav {
  position: fixed;
  top: -18vh;
  right: 0;
  width: 100%;
  height: 18vh;
  background-color: whitesmoke;
  overflow: hidden;
  transition: top 0.5s ease-in-out;
  z-index: 2;

  .mobilelink {
    display: block;
    padding-left: 20px;
    padding-top: 15px;
    text-decoration-color: green;
    color: black;
    font-family: "Drafting Mono", monospace;
  }
}

.dark .mobile-nav {
  background-color: darkblue;

  .mobilelink {
    text-decoration-color: yellow;
    color: white;
  }
}

.mobile-nav.show {
  top: -18vh;
}

@media (width <= 480px) {
  .mobile-nav.show {
    top: 0;
  }
}
