.footer-style {
  position: fixed;
  bottom: 0;
  z-index: 100;
  width: 700px;

  @media only screen and (width <= 720px) {
    width: 410px;
  }

  .footer-div {
    margin: 0.5rem 0;
    text-align: center;
  }

  .footer-small {
    font-family: "Drafting Mono", sans-serif;
    font-size: 0.9em;
  }
}
