/* stylelint-disable no-descending-specificity */
$font-family-1: "Boresna Mono", monospace;
$font-family-2: "Drafting Mono", curved;
$color-1: #1e1e2e;
$color-2: #fdebf3;
$color-3: #3b80ff;

@font-face {
  font-family: "Boresna Mono"; // Use the actual font name here
  src:
    url("./assests/fonts/borensa.regular-webfont.woff2") format("woff2"),
    url("./assests/fonts/borensa.regular-webfont.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Drafting Mono"; // Use the actual font name here
  src:
    url("./assests/fonts/drafting-mono.semibold-webfont.woff2") format("woff2"),
    url("./assests/fonts/drafting-mono.semibold-webfont.woff") format("woff");
  font-display: swap;
}

* {
  ::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none; // firefox scrollbar
}

html {
  background-color: #e8ffff;
  color: $color-1;

  &.dark {
    background-color: $color-1;
    color: $color-2;

    .light-image {
      filter: invert(1);
    }

    .hamburger span {
      background: whitesmoke;
    }

    .title-link a,
    .card-title,
    .card-txt,
    .nav-links a,
    .link-card > a {
      color: $color-2;
    }
  }
}

a,
h1,
h2 {
  user-select: none;
}

body {
  max-width: 700px;
  margin: 0 auto;
}

.app-area {
  position: fixed;
  width: 700px;
  margin-top: 3rem;
  height: calc(100vh - 5rem);
  overflow-y: auto;
  border-radius: 15px;
}

h1,
h2 {
  font-family: $font-family-1;
  font-weight: normal;
}

h1 {
  font-size: 2.6em;
  margin: 0;
}

h2 {
  text-decoration: underline $color-3;
  text-decoration-thickness: 4px;
  text-underline-offset: 6px;
  font-size: 2.1em;
  margin-bottom: 0;
}

p {
  font-family: $font-family-2;
  font-size: 1.2em;
  hyphens: auto;
  line-height: 1.5;
}

.nav-bar {
  position: fixed;
  top: 0;
  margin: 0.5rem 0;
  width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;

  .title-link,
  .nav-links {
    font-family: $font-family-1;
    font-size: 1.3rem;

    a {
      color: $color-1;
      text-decoration: none;

      &:focus,
      &:hover {
        text-decoration: underline #32ac14;
        text-decoration-thickness: 2px;
        text-underline-offset: 6px;
      }
    }
  }

  .nav-links {
    font-family: $font-family-2;
    font-size: 1.115rem;
    text-align: right;

    a {
      margin: 0 13px;
    }
  }

  .icons-wrapper {
    display: flex;
    justify-content: space-between;
    width: 4.5rem;
    z-index: 5;
  }

  .hamburger {
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    position: relative;
    z-index: 3;

    span {
      width: 2rem;
      height: 0.25rem;
      background: #333;
      border-radius: 10px;
      position: relative;
      transform-origin: 1px;
      transition: all 0.2s ease-in-out;
    }
  }
}

.card-title,
.card-txt {
  color: black;
}

.link-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
  gap: 1rem;
  padding: 0;
}

@media (width <= 720px) {
  body {
    width: 410px;
  }

  .nav-bar,
  .app-area {
    width: 410px;
  }
}

@media (width <= 480px) {
  body {
    width: 300px;
  }

  .nav-bar {
    width: 290px;
  }

  .nav-links {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .app-area {
    width: 300px;
    height: calc(100vh - 17vh);
  }
}

.logo {
  margin: 20px 0 0;
  text-align: center;

  img {
    -webkit-user-drag: none;
    border-radius: 50%;
    transition: transform 3s ease-in-out;

    &:hover {
      transform: rotate(-360deg);
    }
  }
}

.unselectable {
  user-select: none;
  cursor: default;
}
