.theme-toggle {
  border: 0;
  background: none;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  z-index: 2;
  transition: opacity 0.6s ease-in-out;
}

.moon,
.sun {
  transition: fill 0.6s ease-in-out;
}

.moon {
  fill: #1e1e2e;
  opacity: 1;
}

.sun {
  fill: transparent;
  opacity: 0;
}

.dark .moon {
  fill: transparent;
  opacity: 0;
}

.dark .sun {
  fill: #fdebf3;
  opacity: 1;
}
